<h1>Your Files in {{path}}</h1>
<p>{{error}}</p>
<table width="100%">
        <tr><th align="left">Filename</th><th align="left">Size</th><th align="left">Action</th></tr>
        {{#each ffiles}}
        <tr>
                {{#if this.isFile}}
                        <td>{{this.fname}}</td>
                {{else}}
                        <td><a href="/browse?path={{../path}}/{{this.fname}}">{{this.fname}}</a></td>
                {{/if}}
                <td>{{this.size}}</td>
                {{#if this.isFile}}
                        <td><a href="/download?path={{../path}}/{{this.fname}}">Download</a></td>
                {{else}}
                        <td>...</td>
                {{/if}}
        </tr>
        {{/each}}
</ul>