<h1>Your Files in {{path}}</h1>
<p>{{error}}</p>

<form action="upload" method="POST" enctype="multipart/form-data">
  Select an image to upload:
  <input type="file" name="theFile" style="width: 100%"> 
  <input type="text" name="path" value="{{path}}" hidden/>
  <input type="submit" value="Upload">
</form>
<table width="100%">
        <tr>
                <th align="left">Filename</th>
                <th align="left">Size</th>
                <th align="left">Action</th>
        </tr>
        {{#each ffiles}}
        <tr>
                {{#if this.isFile}}
                        <td>{{this.fname}}</td>
                {{else}}
                        <td><a href="/browse?path={{../path}}/{{this.fname}}">{{this.fname}}</a></td>
                {{/if}}
                <td>{{this.size}}</td>
                {{#if this.isFile}}
                        <td>
                                <a href="/download?path={{../path}}/{{this.fname}}">Download</a>
                                <a href="#" onclick="deleteTheFile('{{{../path}}}','{{{this.fname}}}')">Delete</a>
                        </td>
                {{else}}
                        <td>...</td>
                {{/if}}
        </tr>
        {{/each}}
</ul>